.feature-container {
  padding-top: 94px;
  &__box {
    @extend %container;
  }
}

.feature-list {
  display: flex;
}
.feature-list__ithem {
  width: 270px;
}
.section_ithem-indent-right:not(:last-child) {
  margin-right: 30px;
}

.feature-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-list__text {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
